<html>
  {{> head}}
  <body class="dns">
    <div class="d-flex" id="wrapper">
      {{> sidebar}}
      <div id="page-content-wrapper">
        {{> navbar}}
        <div class="container-fluid">
            <div class="row mt-4">
              <div class="col-sm-12">
                <div class="breadcrumb-custom">
                  <ul>
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li>
                      <a href="/pembayaran.html">Pembayaran</a>
                    </li>
                    <li class="active">
                      Bayar
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Pembayaran
                    <a href="/pembayaran/bayar.html" class="btn btn-light float-right"><span class="fa fa-edit"></span></a>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-7">
                        <form id="form_data" class="text-left">
                          <div class="d-inline-block mr-2">
                            <div class="input-group mb-3">
                              <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Nama">
                              <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                              </div>
                            </div>
                          </div>
                          <div class="d-inline-block">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              </div>
                              <input id="tahun" name="tahun" class="form-control" placeholder="Tahun" required />
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-5 text-right">
                        <div class="d-inline-block">
                          <table class="table table-sm table-borderless">
                            <tr>
                              <td class="align-middle">
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input" disabled id="customSwitch1" checked>
                                  <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                              </td>
                              <td class="align-middle">:</td>
                              <td class="align-middle">Sudah dibayar</td>
                            </tr>
                          </table>
                        </div>
                        <div class="d-inline-block">
                          <table class="table table-sm table-borderless">
                            <tr>
                              <td class="align-middle">
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
                                  <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                              </td>
                              <td class="align-middle">:</td>
                              <td class="align-middle">Belum dibayar</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6 text-right">
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped" id="table_dns_cache">
                        <thead>
                          <tr>
                            <th rowspan="2" class="align-middle">No</th>
                            <th rowspan="2" class="border-right align-middle">Nama</th>
                            <th colspan="12" class="text-center border-bottom-0">Bulan</th>
                          </tr>
                          <tr>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Januari">01</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Februari">02</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Maret">03</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="April">04</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Mei">05</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Juni">06</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Juli">07</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Agustus">08</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="September">09</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Oktober">10</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="November">11</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Desember">12</a></th>
                          </tr>
                        </thead>
                        <tbody id="listdata">
                          <tr><td colspan="14">Memuat Data ....</td></tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-md-4" id="info_page">

                      </div>
                      <div class="col-md-4 text-center" id="pagination">
                      </div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <br><br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <div class="modal" id="modal_detail">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Data Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="font-size:14px;">
            <dl>
              <dt>Nama</dt>
              <dd id="nama"></dd>
            </dl>
            <dl>
              <dt>Alamat</dt>
              <dd id="alamat"></dd>
            </dl>
            <dl>
              <dt>No Whatsapp</dt>
              <dd id="no_wa"></dd>
            </dl>
            <dl>
              <dt>Nominal Pembayaran</dt>
              <dd id="nominal_pembayaran"></dd>
            </dl>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="modal_konfirmasi">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Data Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="font-size:14px;">
            <form id="form_member">
              <input type="hidden" id="bulan" name="bulan" />
              <input type="hidden" id="id" name="id" />
              <div class="form-group">
                <label class="control-label">Password</label>
                <input id="password" name="password" type="text" class="form-control" placeholder="Masukkan password untuk mengubah status" />
              </div>
              <div class="text-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->
    {{> foot}}
    <script type="text/javascript" src="/assets/js/page/bayar.js"></script>
  </body>
</html>
