<html>
  {{> head}}
  <body class="dashboard">
    <div class="d-flex" id="wrapper">
      {{> sidebar}}
      <div id="page-content-wrapper">
        {{> navbar}}
        <input type="hidden" id="cur_master_kota_id" name="cur_master_kota_id" value="{{master_kota_id}}" />
        <div class="container-fluid">
            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="breadcrumb-custom">
                  <ul>
                    <li class="active">
                      Dashboard
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-right">

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-7">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Statistik Member <span id="title_statistik_member"></span>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <div class="d-inline-block align-middle mr-2">
                          <select id="filter_member" class="form-control form-control-sm">
                            <option value="1">Harian</option>
                            <option value="2">Bulanan</option>
                            <option value="3">Tahunan</option>
                          </select>
                        </div>
                        <div class="d-inline-block align-middle">
                          <div class="btn-group">
                            <button type="button" onclick="stat_member_prev();" class="btn btn-primary"><span class="fa fa-chevron-circle-left"></span></button>
                            <button type="button" onclick="stat_member_next();" class="btn btn-primary"><span class="fa fa-chevron-circle-right"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <canvas id="member_chart"></canvas>
                    <br>
                    <div class="mt-2">
                      <table class="table table-striped">
                        <tbody id="member_chart_data">
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-5">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Total Kapasitas
                  </div>
                  <div class="card-body">
                    <div class="d-inline-block float-right">
                      <div class="btn-group">
                        <button type="button" class="btn btn-light btn_kapasitas" data-value="3" onclick="ubah_satuan_kapasitas(this)">Gbps</button>
                        <button type="button" class="btn btn-light btn_kapasitas active" data-value="2" onclick="ubah_satuan_kapasitas(this)">Mbps</button>
                        <button type="button" class="btn btn-light btn_kapasitas" data-value="1" onclick="ubah_satuan_kapasitas(this)">Kbps</button>
                      </div>
                    </div>
                    <div class="d-inline-block">
                      Total
                      <br>
                      <b id="total_kapasitas"></b>

                    </div>
                    <br>
                    <br>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Router</th>
                            <th>Kapasitas</th>
                          </tr>
                        </thead>
                        <tbody id="total_kapasitas_listdata">

                        </tbody>
                      </table>
                      </div>
                    </div>
                </div>
                <br>
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    5 Member Terbaru
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Nama</th>
                            <th>Alamat</th>
                            <th>Ditambahkan Pada</th>
                          </tr>
                        </thead>
                        <tbody id="member_terbaru">

                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <br><br>
            </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
    {{> foot}}
    <script type="text/javascript" src="/assets/js/page/dashboard.js"></script>
  </body>
</html>
