<head>
  <title>{{title}}</title>
  <link rel="shortcut icon" href="{{favicon}}" />
  <link rel="stylesheet" href="/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/css/owl.carousel.css" />
  <link rel="stylesheet" href="/assets/css/owl.theme.default.css" />
  <link rel="stylesheet" href="/assets/css/bootstrap-drawer.min.css" />
  <link rel="stylesheet" href="/assets/css/simple-sidebar.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <link rel="stylesheet" href="/assets/css/loading.css" />
  <link rel="stylesheet" href="/assets/css/toastr.css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
  <link rel="stylesheet" href="/assets/css/summernote-bs4.css" />
  <link rel="stylesheet" href="/assets/css/jquery-confirm.css" />
  <link rel="stylesheet" href="/assets/css/jquery.pnotify.default.css" />
  <link rel="stylesheet" href="/assets/css/select2.min.css" />
  <link rel="stylesheet" href="/assets/css/daterangepicker.css" />
  <link rel="stylesheet" href="/assets/css/datatables.min.css"/>
  <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css"/>
  <link rel="stylesheet" href="/assets/css/global.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
