<html>
  {{> head}}
  <body class="dns">
    <div class="d-flex" id="wrapper">
      {{> sidebar}}
      <div id="page-content-wrapper">
        {{> navbar}}
        <div class="container-fluid">
            <div class="row mt-4">
              <div class="col-sm-12">
                <div class="breadcrumb-custom">
                  <ul>
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="active">
                      Master Paket
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Data Paket
                    <a href="javascript:void(0);" onclick="modal_tambah();" class="btn btn-light float-right"><span class="fa fa-plus"></span></a>
                  </div>
                  <div class="card-body">
                    <form id="form_search" class="text-left">
                      <div class="d-inline-block">
                        <div class="input-group mb-3">
                          <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Nama Paket">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Kapasitas</th>
                            <th>Harga</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody id="listdata">

                        </tbody>
                      </table>
                    </div>
                    <div class="text-center" id="pagination">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <br><br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
      <div class="modal" id="modal_form">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal_form_title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="form_data">
              <div class="modal-body">
                <input type="hidden" id="id" name="id" />
                <div class="form-group">
                  <label class="control-label">
                    Nama
                  </label>
                  <input type="text" id="nama" name="nama" class="form-control" placeholder="Nama Paket" required />
                </div>
                <div class="form-group mb-3">
                  <label class="control-label">
                    Kapasitas
                  </label>
                  <div class="input-group">
                    <input type="text" id="kapasitas" name="kapasitas" class="form-control number" placeholder="Kapasitas" required />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">Kbps</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">
                    Harga
                  </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Rp. </span>
                    </div>
                    <input type="text" id="harga" name="harga" class="form-control" placeholder="Harga Paket" required />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->
    {{> foot}}
    <script type="text/javascript" src="/assets/js/page/master_paket.js"></script>
  </body>
</html>
