<html>
  {{> head}}
  <body class="member">
    <div class="d-flex" id="wrapper">
      {{> sidebar}}
      <div id="page-content-wrapper">
        {{> navbar}}
        <div class="container-fluid">
            <div class="row mt-4">
              <div class="col-sm-6 mb-3">
                <div class="breadcrumb-custom">
                  <ul>
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="active">
                      Member
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-right mb-2">
                <div class="widget widget-primary">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Total Member</div>
                      <div class="count" id="total">0</div>
                    </div>
                  </div>
                </div>
                <div class="widget widget-danger">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Member belum diupdate</div>
                      <div class="count" id="total_belum_update">0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Member
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <form id="form_data" class="text-left">
                          <div class="d-inline-block mr-2">
                            <div class="input-group mb-3">
                              <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Keyword">
                              <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-6 text-right">
                        <table class="table table-sm table-borderless w-auto d-inline-block sign-not-updated">
                          <tr>
                            <td>
                              <div class="dark"><div class="bg-warning-semi-transparent content">&nbsp;</div></div>
                            </td>
                            <td> / </td>
                            <td>
                              <div class="light"><div class="bg-warning-semi-transparent content">&nbsp;</div></div>
                            </td>
                            <td> : </td>
                            <td>Member belum diupdate</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped" id="table_dns_cache">
                        <thead>
                          <tr>
                            <th rowspan="2" class="align-middle border-right">No</th>
                            <th rowspan="2" class="align-middle border-right">Router</th>
                            <th colspan="2" class="text-center border-right border-bottom-0">PPP</th>
                            <th colspan="3" class="text-center border-right border-bottom-0">Member</th>
                            <th rowspan="2" class="text-center align-middle">Aksi</th>
                          </tr>
                          <tr>
                            <th>Name</th>
                            <th class="border-right">Profile</th>
                            <th>Nama</th>
                            <th>Alamat</th>
                            <th class="border-right">Nominal Pembayaran</th>
                          </tr>
                        </thead>
                        <tbody id="listdata">
                          <tr><td colspan="8">Memuat Data ....</td></tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-md-4" id="info_page">

                      </div>
                      <div class="col-md-4 text-center" id="pagination">
                      </div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <br><br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <div class="modal" id="modal_update">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Data Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form_member">
              <input type="hidden" id="id" name="id" />
              <div class="form-group">
                <label class="control-label">Nama</label>
                <input id="nama" name="nama" type="text" class="form-control" placeholder="Nama Member" required />
              </div>
              <div class="form-group">
                <label class="control-label">Alamat</label>
                <textarea id="alamat" name="alamat" class="form-control" placeholder="Alamat Member"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label">No Whatsapp</label>
                <input id="no_wa" name="no_wa" type="text" class="form-control" placeholder="No Whatsapp Member" />
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <input id="email" name="email" type="text" class="form-control" placeholder="Email Member" />
              </div>
              <div class="form-group">
                <label class="control-label">Nominal Pembayaran</label>
                <input id="nominal_pembayaran" name="nominal_pembayaran" type="text" class="form-control" required placeholder="Nominal Pembayaran" />
              </div>
              <div class="form-group">
                <label class="control-label">Tagihan Dimulai Pada</label>
                <div class="input-group mb-3">
                  <select required id="awal_tagihan_bulan" name="awal_tagihan_bulan" class="custom-select" id="inputGroupSelect02">
                    <option value="">Pilih Bulan</option>
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                  </select>
                  <div class="input-group-append">
                    <input required id="awal_tagihan_tahun" name="awal_tagihan_tahun" type="text" class="form-control" placeholder="Tahun" />
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->
    {{> foot}}
    <script type="text/javascript" src="/assets/js/page/member.js"></script>
  </body>
</html>
