<nav class="navbar navbar-expand-lg navbar-white bg-gradient-primary">
  <button class="btn btn-light mr-3" id="menu-toggle"><span class="fa fa-bars"></span></button>
  <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <a href="javascript:void(0);" class="btn btn-sm btn-light">
      <span class="fa fa-toggle-down"></span>
    </a>
  </button>
  <div class="w-100">
    <span id="nama_server" class="text-white"></span>
    <span class="mx-1 text-white"> / </span>
    <span id="uptime" class="text-white"></span>
    <span id="board_name" class="text-white float-sm-right d-block d-sm-inline-block mr-2"></span>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link text-white" href="/logout.html"><b>Logout</b></a>
      </li>
    </ul>
  </div>
</nav>
