<html>
  {{> head}}
  <body class="dashboard">
    <div class="d-flex" id="wrapper">
      {{> sidebar}}
      <div id="page-content-wrapper">
        {{> navbar}}
        <div class="container-fluid">
            <div class="row mt-4">
              <div class="col-sm-5 mb-3">
                <div class="breadcrumb-custom">
                  <ul>
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="active">
                      Pembayaran
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-7 text-right">
                <div class="d-inline-block">
                  <select id="bulan" name="bulan" class="form-control">
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                  </select>
                </div>
                <div class="d-inline-block">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input id="tahun" name="tahun" class="form-control" placeholder="Tahun" required />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt2">
              <div class="col-md-12">
                <div class="widget widget-primary">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Total Tagihan<br><small><b class="bulan">(Bulan Ini)</b></small></div>
                      <div class="count" id="total">Rp. 0</div>
                    </div>
                  </div>
                </div>
                <div class="widget widget-danger">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Tagihan Belum Dibayar<br><small><b class="bulan">(Bulan Ini)</b></small></div>
                      <div class="count" id="total_belum_dibayar">Rp. 0</div>
                    </div>
                  </div>
                </div>
                <div class="widget widget-success">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Tagihan Dibayar<br><small><b class="bulan">(Bulan Ini)</b></small></div>
                      <div class="count" id="total_dibayar">Rp. 0</div>
                    </div>
                  </div>
                </div>
                <div class="widget widget-warning">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">PPN<br><small><b class="bulan">(Bulan Ini)</b></small></div>
                      <div class="count" id="total_tagihan_ppn">Rp. 0</div>
                    </div>
                  </div>
                </div>
                <div class="d-inline-block ml-3">
                  <a href="javascript:void(0);" class="btn btn-primary" onclick="tampilkan_widget_lainnya()"><span class="fa fa-angle-right"></span></a>
                  &nbsp;<br>&nbsp;
                </div>
                <div class="widget widget-info widget-password" style="display:none;">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Pendapatan Bersih<br><small><b class="bulan">(Bulan Ini)</b></small></div>
                      <div class="count" id="total_tagihan_bersih">Rp. 0</div>
                    </div>
                  </div>
                </div>
                <div class="widget widget-success widget-password" style="display:none;">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Kantor Pusat<br><small><b class="bulan">(Bulan Ini)</b></small></div>
                      <div class="count" id="total_tagihan_bersih_isp">Rp. 0</div>
                    </div>
                  </div>
                </div>
                <div class="widget widget-success widget-password" style="display:none;">
                  <div class="widget-wrapper">
                    <div class="widget-style">&nbsp;</div>
                    <div class="widget-content">
                      <div class="text">Mitra / Reseller<br><small><b class="bulan">(Bulan Ini)</b></small></div>
                      <div class="count" id="total_tagihan_bersih_mitra">Rp. 0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Statistik <span class="tahun"></span>
                  </div>
                  <div class="card-body">
                    <canvas id="statistik_chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Pembayaran Internet Bulanan <span class="tahun"></span>
                    <a href="/pembayaran/bayar.html" class="btn btn-light float-right"><span class="fa fa-edit"></span></a>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-7">
                        <form id="form_data" class="text-left">
                          <div class="d-inline-block mr-2">
                            <div class="input-group mb-3">
                              <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Nama">
                              <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-5 text-right">
                        <div class="d-inline-block">
                          <table class="table table-sm table-borderless">
                            <tr>
                              <td class="align-middle"><span class="fa fa-check text-success"></span></td>
                              <td class="align-middle">:</td>
                              <td class="align-middle">Sudah dibayar</td>
                            </tr>
                          </table>
                        </div>
                        <div class="d-inline-block">
                          <table class="table table-sm table-borderless">
                            <tr>
                              <td class="align-middle"><span class="fa fa-times-circle text-danger"></span></td>
                              <td class="align-middle">:</td>
                              <td class="align-middle">Belum dibayar</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6 text-right">
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped" id="table_dns_cache">
                        <thead>
                          <tr>
                            <th rowspan="2" class="align-middle">No</th>
                            <th rowspan="2" class="border-right align-middle">Router</th>
                            <th rowspan="2" class="border-right align-middle">Nama</th>
                            <th rowspan="2" class="border-right align-middle">Alamat</th>
                            <th colspan="12" class="text-center border-bottom-0">Bulan</th>
                          </tr>
                          <tr>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Januari">01</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Februari">02</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Maret">03</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="April">04</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Mei">05</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Juni">06</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Juli">07</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Agustus">08</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="September">09</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Oktober">10</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="November">11</a></th>
                            <th class="text-center"><a href="javascript:void(0);" class="text-decoration-none text-dark" data-toggle="tooltip" data-placement="top" title="Desember">12</a></th>
                          </tr>
                        </thead>
                        <tbody id="listdata">
                          <tr><td colspan="15">Memuat Data ....</td></tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-md-4" id="info_page">

                      </div>
                      <div class="col-md-4 text-center" id="pagination">
                      </div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Pembayaran Lainnya <span class="tahun"></span>
                    <a href="javascript:void(0);" onclick='modal_tagihan_khusus()' class="btn btn-light float-right"><span class="fa fa-plus"></span></a>
                  </div>
                  <div class="card-body">
                    <form id="form_data_tagihan" class="text-left">
                      <div class="d-inline-block mr-2">
                        <div class="input-group mb-3">
                          <input type="text" id="keyword_tagihan" name="keyword_tagihan" class="form-control" placeholder="Nama">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="table-responsive">
                      <table class="table table-striped" id="table_dns_cache">
                        <thead>
                          <tr>
                            <th rowspan="2" class="border-right align-middle">No</th>
                            <th rowspan="2" class="border-right align-middle">Router</th>
                            <th rowspan="2" class="border-right align-middle">Nama</th>
                            <th rowspan="2" class="border-right align-middle">Alamat</th>
                            <th colspan="5" class="text-center border-bottom-0">Info</th>
                          </tr>
                          <tr>
                            <th>Nama Tagihan</th>
                            <th>Bulan</th>
                            <th>Nominal Pembayaran</th>
                            <th>Status</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody id="listdata2">
                          <tr><td colspan="8">Memuat Data ....</td></tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-md-4" id="info_page2">

                      </div>
                      <div class="col-md-4 text-center" id="pagination2">
                      </div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <br><br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <div class="modal" id="modal_detail">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Data Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="font-size:14px;">
            <dl>
              <dt id="dt_name">Name</dt>
              <dd id="name"></dd>
            </dl>
            <dl id="dl_password">
              <dt>Password</dt>
              <dd id="password"></dd>
            </dl>
            <dl id="dl_profile">
              <dt>Profile</dt>
              <dd id="profile"></dd>
            </dl>
            <dl>
              <dt>Nama</dt>
              <dd id="nama"></dd>
            </dl>
            <dl>
              <dt>Alamat</dt>
              <dd id="alamat"></dd>
            </dl>
            <dl>
              <dt>No Whatsapp</dt>
              <dd id="no_wa"></dd>
            </dl>
            <dl>
              <dt>Email</dt>
              <dd id="email"></dd>
            </dl>
            <dl>
              <dt>Nominal Pembayaran</dt>
              <dd id="nominal_pembayaran"></dd>
            </dl>
            <dl>
              <dt>Tagihan Dimulai Pada</dt>
              <dd id="tagihan_dimulai"></dd>
            </dl>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="modal_tagihan_khusus">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tambah Tagihan Khusus</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form_tagihan_khusus">
              <div class="form-group">
                <label class="control-label">Member</label>
                <select id="member_id" name="member_id" class="form-control" required>

                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Nama</label>
                <input id="nama_tagihan" name="nama_tagihan" type="text" class="form-control" placeholder="Nama Tagihan" required />
              </div>
              <div class="form-group">
                <label class="control-label">Bulan</label>
                <select id="bulan_tagihan" name="bulan_tagihan" class="form-control" required>
                  <option value="">Pilih Bulan</option>
                  <option value="1">Januari</option>
                  <option value="2">Februari</option>
                  <option value="3">Maret</option>
                  <option value="4">April</option>
                  <option value="5">Mei</option>
                  <option value="6">Juni</option>
                  <option value="7">Juli</option>
                  <option value="8">Agustus</option>
                  <option value="9">September</option>
                  <option value="10">Oktober</option>
                  <option value="11">November</option>
                  <option value="12">Desember</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Tahun</label>
                <input id="tahun_tagihan" name="tahun_tagihan" type="text" placeholder="Tahun" class="form-control" required>
              </div>
              <div class="form-group">
                <label class="control-label">Nominal Tagihan</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Rp. </span>
                  </div>
                  <input type="text" id="nominal_tagihan" name="nominal_tagihan" class="form-control" placeholder="Nominal Tagihan" required />
                </div>
              </div>
              <div class="text-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="modal_bayar">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pembayaran</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="font-size:14px;">
            <form id="form_bayar">
              <input type="hidden" id="id" name="id" />
              <input type="hidden" id="is_bayar" name="is_bayar" />
              <input type="hidden" id="bulan" name="bulan" />
              <table class="table table-borderless w-100">
                <tr>
                  <td>Nama CLient</td>
                  <td>:</td>
                  <td id="modal_bayar_nama_client"></td>
                </tr>
                <tr>
                  <td>Nama Tagihan</td>
                  <td>:</td>
                  <td id="modal_bayar_nama_tagihan"></td>
                </tr>
                <tr>
                  <td>Bulan & Tahun</td>
                  <td>:</td>
                  <td id="modal_bayar_bulan_tahun"></td>
                </tr>
                <tr>
                  <td>Nominal Bayar</td>
                  <td>:</td>
                  <td id="modal_bayar_nominal_bayar"></td>
                </tr>
                <tr>
                  <td>Metode Bayar</td>
                  <td>:</td>
                  <td id="metode_bayar_admin">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="cr_transfer" name="cr_metode_bayar" class="custom-control-input" checked value="1">
                      <label class="custom-control-label" for="cr_transfer">Transfer Bank (Manual)</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="cr_cash" name="cr_metode_bayar" class="custom-control-input" value="2">
                      <label class="custom-control-label" for="cr_cash">Cash</label>
                    </div>
                  </td>
                  <td id="metode_bayar_user" style="display:none;">

                  </td>
                </tr>
                <tr id="div_bank">
                  <td>Bank</td>
                  <td>:</td>
                  <td>
                    <select class="form-control" id="bank" name="bank" required>

                    </select>
                  </td>
                </tr>
                <tr id="div_password">
                  <td>Password</td>
                  <td>:</td>
                  <td>
                    <input id="modal_bayar_password" name="modal_bayar_password" type="password" class="form-control" placeholder="Masukkan password akun anda" required />
                    <input type="hidden" id="modal_bayar_hidden_password" name="modal_bayar_hidden_password" />
                  </td>
                </tr>
              </table>
              <div class="text-right" id="modal_bayar_tutup" style="display:none;">
                <button type="button" class="btn btn-light" data-dismiss="modal">Tutup</button>
              </div>
              <div class="text-right" id="modal_bayar_aksi">
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                <button id="btn_submit" type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="modal_hapus">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Hapus Tagihan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="font-size:14px;">
            <form id="form_hapus">
              <input type="hidden" id="id_hapus" name="id_hapus" />
              <table class="table table-borderless w-100">
                <tr>
                  <td>Nama CLient</td>
                  <td>:</td>
                  <td id="modal_hapus_nama_client"></td>
                </tr>
                <tr>
                  <td>Nama Tagihan</td>
                  <td>:</td>
                  <td id="modal_hapus_nama_tagihan"></td>
                </tr>
                <tr>
                  <td>Bulan & Tahun</td>
                  <td>:</td>
                  <td id="modal_hapus_bulan_tahun"></td>
                </tr>
                <tr>
                  <td>Nominal Bayar</td>
                  <td>:</td>
                  <td id="modal_hapus_nominal_bayar"></td>
                </tr>
                <tr id="div_password_hapus">
                  <td>Password</td>
                  <td>:</td>
                  <td>
                    <input id="modal_hapus_password" name="modal_hapus_password" type="password" class="form-control" placeholder="Masukkan password akun anda" required />
                    <input type="hidden" id="modal_hapus_hidden_password" name="modal_hapus_hidden_password" />
                  </td>
                </tr>
              </table>
              <div class="text-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                <button id="btn_submit_hapus" type="submit" class="btn btn-danger">Hapus</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="modal_password_total_tagihan">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Masukkan Password Anda</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="font-size:14px;">
            <form id="form_password_total_tagihan">
              <div class="form-group">
                <input id="password_total_tagihan" name="password_total_tagihan" type="password" class="form-control" placeholder="Masukkan password akun anda" required />
                <input type="hidden" id="hidden_password_total_tagihan" name="hidden_password" />
              </div>
              <div class="text-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Konfirmasi</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->
    {{> foot}}
    <script type="text/javascript" src="/assets/js/page/pembayaran.js?v=2.1"></script>
  </body>
</html>
