<html>
  {{> head}}
  <body class="dashboard">
    <div class="d-flex" id="wrapper">
      {{> sidebar}}
      <div id="page-content-wrapper">
        {{> navbar}}
        <input type="hidden" id="user_id" name="user_id" value="{{user_id}}" />
        <input type="hidden" id="level" name="level" value="{{level}}" />
        <div class="container-fluid">
            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="breadcrumb-custom">
                  <ul>
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="active">
                      Router
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-right">
                <a href="javascript:void(0);" onclick="modal_tambah();" class="btn btn-primary"><span class="fa fa-plus"></span> Tambah</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="card stat-card">
                  <div class="card-header bg-gradient-primary text-white">
                    Data Router
                  </div>
                  <div class="card-body">
                    <form id="form_search" class="text-left">
                      <div class="d-inline-block">
                        <div class="input-group mb-3">
                          <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Host / Nama">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead id="th_admin" style="display:none;">
                          <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">User</th>
                            <th colspan="5" style="border-right:1px solid lightgrey;border-left:1px solid lightgrey;border-bottom:0px;text-align:center;">Router</th>
                            <th rowspan="2">Aksi</th>
                          </tr>
                          <tr>
                            <th style="border-left:1px solid lightgrey;">Nama</th>
                            <th>Host</th>
                            <th>Port</th>
                            <th>User</th>
                            <th style="border-right:1px solid lightgrey;">Password</th>
                          </tr>
                        </thead>
                        <thead id="th_umum" style="display:none;">
                          <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Host</th>
                            <th>Port</th>
                            <th>User</th>
                            <th>Password</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody id="listdata">

                        </tbody>
                      </table>
                    </div>
                    <div class="text-center" id="pagination">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          <br><br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
      <div class="modal" id="modal_form">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal_form_title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="form_data">
              <div class="modal-body">
                <input type="hidden" id="id" name="id" />
                <div class="form-group">
                  <label class="control-label">
                    Nama
                  </label>
                  <input type="text" id="nama" name="nama" class="form-control" placeholder="Nama Router" required />
                </div>
                <div class="form-group">
                  <label class="control-label">
                    Host
                  </label>
                  <input type="text" id="host" name="host" class="form-control" placeholder="Host" required />
                </div>
                <div class="form-group">
                  <label class="control-label">
                    Port
                  </label>
                  <input type="text" id="port" name="port" class="form-control" placeholder="Port" required />
                </div>
                <div class="form-group">
                  <label class="control-label">
                    User
                  </label>
                  <input type="text" id="user" name="user" class="form-control" placeholder="Username" required />
                </div>
                <div class="form-group">
                  <label class="control-label">
                    Password
                  </label>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal" id="modal_alihkan">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Alihkan Router Ke User Lain</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="form_alihkan">
              <div class="modal-body">
                <input type="hidden" id="alihkan_id" name="alihkan_id" />
                <div class="form-group">
                  <select id="alihkan_user" name="alihkan_user" class="form-control select2">

                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Alihkan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->
    {{> foot}}
    <script type="text/javascript" src="/assets/js/page/router.js?v=1"></script>
  </body>
</html>
