<div class="bg-white border-right sidebar" id="sidebar-wrapper">
  <div class="sidebar-heading">{{#ifNotEquals logo ""}}<img src="{{logo}}" style="width:100%;" />{{/ifNotEquals}}</div>
  {{#ifEqualsOR2 level "1"  level "2" level "4"}}
  <div class="px-3 py-1">
    <select class="form-control select2" id="select_router" style="display:none;">

    </select>
  </div>
  <div class="list-group list-group-flush">
      {{#ifNotEquals server_id ""}}
      <a href="#monitoring" data-toggle="collapse" class="list-group-item menu-item list-group-item-action bg-white {{#ifNotEquals menu "monitoring"}}collapsed{{/ifNotEquals}}">
        Monitoring <span class="fa float-right mt-1"></span>
      </a>
      <div id="monitoring" class="list-group sub-menu collapse {{#ifEquals menu "monitoring"}}show{{/ifEquals}}">
        <a href="/traffic.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals sub_menu "traffic"}}font-weight-bolder{{/ifEquals}}">Traffic</a>
        <a href="/host.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals sub_menu "host"}}font-weight-bolder{{/ifEquals}}">Host</a>
        <a href="/ping.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals sub_menu "ping"}}font-weight-bolder{{/ifEquals}}">Ping</a>
        <a href="/dns.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals sub_menu "dns"}}font-weight-bolder{{/ifEquals}}">DNS</a>
      </div>
      <a href="#user_manager" data-toggle="collapse" class="list-group-item menu-item list-group-item-action bg-white {{#ifNotEquals menu "user_manager"}}collapsed{{/ifNotEquals}}">
        User Manager <span class="fa float-right mt-1"></span>
      </a>
      <div id="user_manager" class="list-group sub-menu collapse {{#ifEquals menu "user_manager"}}show{{/ifEquals}}">
        <a href="/hotspot.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals sub_menu "hotspot"}}font-weight-bolder{{/ifEquals}}">Hotspot</a>
        <a href="/ppp.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals sub_menu "ppp"}}font-weight-bolder{{/ifEquals}}">PPP</a>
      </div>
      {{/ifNotEquals}}
  </div>
  <hr>
  {{/ifEqualsOR2}}
  <div class="list-group list-group-flush">
      {{#ifEqualsOR2 level "1"  level "2" level "3"}}
      <a href="/dashboard.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals menu "dashboard"}}font-weight-bolder{{/ifEquals}}">Dashboard</a>
      <a href="#administrasi" data-toggle="collapse" class="list-group-item menu-item list-group-item-action bg-white {{#ifNotEquals menu "monitoring"}}collapsed{{/ifNotEquals}}">
        Administrasi <span class="fa float-right mt-1"></span>
      </a>
      <div id="administrasi" class="list-group sub-menu collapse {{#ifEquals menu "administrasi"}}show{{/ifEquals}}">
        <a href="/file.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals sub_menu "file"}}font-weight-bolder{{/ifEquals}}">File</a>
      </div>
      <a href="/laporan.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals menu "laporan"}}font-weight-bolder{{/ifEquals}}">Laporan</a>
      <a href="/pembayaran.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals menu "pembayaran"}}font-weight-bolder{{/ifEquals}}">Pembayaran</a>
      <a href="/member.html" class="list-group-item sub-item list-group-item-action bg-white {{#ifEquals menu "member"}}font-weight-bolder{{/ifEquals}}">Member</a>
      {{/ifEqualsOR2}}
      {{#ifEqualsOR level "1" level "2"}}
      <a href="/master_paket.html" class="list-group-item menu-item list-group-item-action bg-white {{#ifEquals menu "master_paket"}}font-weight-bolder{{/ifEquals}}">
        Master Paket
      </a>
      <a href="/pengaturan.html" class="list-group-item menu-item list-group-item-action bg-white {{#ifEquals menu "pengaturan"}}font-weight-bolder{{/ifEquals}}">
        Pengaturan
      </a>
      <a href="/router.html" class="list-group-item menu-item list-group-item-action bg-white {{#ifEquals menu "router"}}font-weight-bolder{{/ifEquals}}">
        Router
      </a>
      {{/ifEqualsOR}}
      {{#ifEquals level "2"}}
      <a href="/user.html" class="list-group-item menu-item list-group-item-action bg-white {{#ifEquals menu "user"}}font-weight-bolder{{/ifEquals}}">
        User
      </a>
      {{/ifEquals}}
  </div>
  {{#ifEquals level "2"}}
  <hr>
  <div class="text-center">
    <a onclick="download_database(this);" href="javascript:void(0);" class="btn btn-primary">
      <span class="fa fa-database"></span> Download
    </a>
  </div>
  {{/ifEquals}}
</div>
