<div class="bg-white border-right sidebar" id="sidebar-wrapper">
  <div class="sidebar-heading"><img src="/assets/img/logo.png" style="width:100%;" /></div>
  <div class="list-group list-group-flush">
    <a href="/dashboard.html" class="list-group-item list-group-item-action bg-white {{#ifEquals menu "dashboard"}}font-weight-bolder{{/ifEquals}}">Dashboard</a>
    <a href="/monitoring.html" class="list-group-item list-group-item-action bg-white {{#ifEquals menu "monitoring"}}font-weight-bolder{{/ifEquals}}">Monitoring</a>
    <a href="/ping.html" class="list-group-item list-group-item-action bg-white {{#ifEquals menu "ping"}}font-weight-bolder{{/ifEquals}}">Ping</a>
  </div>
</div>
