/* line 2, ../sass/global.scss */
body .datepicker {
  margin-bottom: 3rem;
}
/* line 4, ../sass/global.scss */
body .datepicker td, body .datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.85rem;
}
/* line 10, ../sass/global.scss */
body .datepicker .input-group {
  border-radius: 30rem;
}
/* line 14, ../sass/global.scss */
body .datepicker input.form-control {
  border-radius: 30rem 0 0 30rem;
  border: none;
}
/* line 19, ../sass/global.scss */
body .datepicker input.form-control:focus {
  box-shadow: none;
}
/* line 23, ../sass/global.scss */
body .datepicker input.form-control::placeholder {
  font-style: italic;
}
/* line 27, ../sass/global.scss */
body .datepicker .input-group-text {
  border-radius: 0 30rem 30rem 0;
  border: none;
}
/* line 32, ../sass/global.scss */
body .datepicker .datepicker-dropdown {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/* line 39, ../sass/global.scss */
body table {
  font-size: 14px;
}
/* line 42, ../sass/global.scss */
body .text-nowrap {
  vertical-align: middle;
}
/* line 46, ../sass/global.scss */
body label.error {
  margin-top: 10px;
  font-size: 12px;
  color: red;
}
/* line 52, ../sass/global.scss */
body .line-through {
  text-decoration: line-through;
}
/* line 55, ../sass/global.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 58, ../sass/global.scss */
body .sidebar {
  z-index: 1;
}
/* line 60, ../sass/global.scss */
body .sidebar .list-group-item {
  font-size: 14px;
  border-top: none;
  border-bottom: none;
  padding: 8px 20px;
}
/* line 67, ../sass/global.scss */
body .sidebar .list-group-item.menu-item span:before {
  content: "\f0d7";
}
/* line 73, ../sass/global.scss */
body .sidebar .list-group-item.menu-item.collapsed span:before {
  content: "\f0da";
}
/* line 80, ../sass/global.scss */
body .sidebar .sub-menu {
  width: calc(100% - 6px) !important;
  margin-left: 6px;
}
/* line 88, ../sass/global.scss */
body .bg-gradient-primary {
  background: #0f73ac;
  background: linear-gradient(135deg, #0f73ac 0%, #0e68b1 51%, #066ac1 100%);
}
/* line 92, ../sass/global.scss */
body .bg-gradient-info {
  background: #00fff9;
  background: linear-gradient(135deg, #00fff9 0%, #00ffe8 51%, #00ebff 100%);
}
/* line 96, ../sass/global.scss */
body .bg-gradient-danger {
  background: red;
  background: linear-gradient(135deg, #ff0037 0%, #ff0037 51%, #ff0040 100%);
}
/* line 100, ../sass/global.scss */
body .bg-gradient-warning {
  background: #ffa300;
  background: linear-gradient(135deg, #ffa300 0%, #ffc600 51%, #ffac00 100%);
}
/* line 105, ../sass/global.scss */
body .breadcrumb-custom ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 109, ../sass/global.scss */
body .breadcrumb-custom ul li {
  display: inline-block;
}
/* line 111, ../sass/global.scss */
body .breadcrumb-custom ul li:not(.active) {
  font-weight: bold;
}
/* line 113, ../sass/global.scss */
body .breadcrumb-custom ul li:not(.active):after {
  margin-left: 5px;
  margin-right: 5px;
  font: normal normal normal 14px/1 FontAwesome;
  content: " \f105 ";
}
/* line 120, ../sass/global.scss */
body .breadcrumb-custom ul li a {
  color: #0e68b1;
}
/* line 122, ../sass/global.scss */
body .breadcrumb-custom ul li a:hover, body .breadcrumb-custom ul li a:focus {
  text-decoration: none;
}
/* line 129, ../sass/global.scss */
body .widget {
  display: inline-block;
  border: 1px solid lightgrey;
  position: relative;
  margin-left: 5px;
}
/* line 135, ../sass/global.scss */
body .widget.widget-danger .widget-style {
  background-color: red;
}
/* line 138, ../sass/global.scss */
body .widget.widget-danger .count {
  color: red;
}
/* line 143, ../sass/global.scss */
body .widget.widget-primary .widget-style {
  background-color: #0f73ac;
}
/* line 146, ../sass/global.scss */
body .widget.widget-primary .count {
  color: #0f73ac;
}
/* line 151, ../sass/global.scss */
body .widget.widget-success .widget-style {
  background-color: green;
}
/* line 154, ../sass/global.scss */
body .widget.widget-success .count {
  color: green;
}
/* line 158, ../sass/global.scss */
body .widget .widget-wrapper {
  display: table;
}
/* line 160, ../sass/global.scss */
body .widget .widget-wrapper .widget-style {
  display: table-cell;
  width: 10px;
}
/* line 164, ../sass/global.scss */
body .widget .widget-wrapper .widget-content {
  display: table-cell;
  padding: 5px 10px;
  min-width: 100px;
}
/* line 169, ../sass/global.scss */
body .widget .widget-wrapper .text {
  font-size: 12px;
  font-weight: bold;
  color: #535252;
}
/* line 174, ../sass/global.scss */
body .widget .widget-wrapper .count {
  font-weight: bold;
}
/* line 180, ../sass/global.scss */
body .widget.widget-lg .text {
  font-size: 13px;
}
/* line 183, ../sass/global.scss */
body .widget.widget-lg .count {
  font-size: 18px;
}
/* line 190, ../sass/global.scss */
body .nav-tabs .nav-item .nav-link {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
/* line 196, ../sass/global.scss */
body .tab-content {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
/* line 202, ../sass/global.scss */
body .bg-warning-semi-transparent {
  background-color: rgba(250, 250, 0, 0.2) !important;
}

/* line 2, ../sass/_dashboard.scss */
.dashboard .stat-card {
  border-radius: 0px;
}
/* line 6, ../sass/_dashboard.scss */
.dashboard .stat-card .card-body .gauge svg {
  height: auto !important;
}
/* line 13, ../sass/_dashboard.scss */
.dashboard .system-health .voltage {
  padding: 2px 6px;
  font-size: 14px;
}
/* line 17, ../sass/_dashboard.scss */
.dashboard .system-health .temperature {
  padding: 2px 6px;
  font-size: 14px;
}
/* line 22, ../sass/_dashboard.scss */
.dashboard #lokasi-error {
  margin: 0px;
}
/* line 26, ../sass/_dashboard.scss */
.dashboard .cuaca .lokasi {
  font-size: 14px;
  font-weight: bold;
}
/* line 30, ../sass/_dashboard.scss */
.dashboard .cuaca .tgl {
  font-size: 13px;
}
/* line 33, ../sass/_dashboard.scss */
.dashboard .cuaca .suhu {
  margin-top: 5px;
  font-weight: bold;
  font-size: 25px;
}
/* line 38, ../sass/_dashboard.scss */
.dashboard .cuaca .daftar-cuaca {
  margin-top: 4px;
  margin-bottom: 3px;
  font-size: 13px;
}
/* line 43, ../sass/_dashboard.scss */
.dashboard .cuaca .bmkg {
  margin-top: 5px;
  font-size: 10px;
}

/* line 2, ../sass/_ping.scss */
.ping .data-graphic {
  width: 100%;
}

/* line 4, ../sass/_dns.scss */
.dns .pagination .page-item .page-link {
  color: #3c3c3c;
}
/* line 8, ../sass/_dns.scss */
.dns .pagination .page-item.active .page-link {
  color: white;
  background: #0f73ac;
  background: linear-gradient(135deg, #0f73ac 0%, #0e68b1 51%, #066ac1 100%);
}

/* line 1, ../sass/_login.scss */
.login {
  height: 100%;
  position: relative;
}
/* line 4, ../sass/_login.scss */
.login .login-space-logo {
  padding-top: 120px;
}
@media (max-width: 768px) {
  /* line 8, ../sass/_login.scss */
  .login .login-space-logo {
    padding-top: 80px;
  }
}
/* line 12, ../sass/_login.scss */
.login .row {
  height: 100%;
}
/* line 15, ../sass/_login.scss */
.login .row .carousel-item .image {
  display: block;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  /* line 15, ../sass/_login.scss */
  .login .row .carousel-item .image {
    height: 200px;
  }
}
/* line 25, ../sass/_login.scss */
.login .row .carousel-item .image .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(20, 20, 20, 0.67) 0%, rgba(10, 10, 10, 0.49) 100%);
}
/* line 37, ../sass/_login.scss */
.login .row .login-form .judul {
  font-size: 20px;
  font-weight: bold;
}
/* line 41, ../sass/_login.scss */
.login .row .login-form .copyright {
  position: absolute;
  bottom: 20px;
}

/* line 3, ../sass/_member.scss */
.member .sign-not-updated .dark {
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 9, ../sass/_member.scss */
.member .sign-not-updated .content {
  width: 40px;
}
